doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/login.css")
        link(rel="stylesheet", href="css/header.css")
        link(rel="stylesheet", href="css/footer.css")
        link(rel="stylesheet", href="css/all.min.css")
        link(rel="stylesheet", href="css/animations.css")
        title Document
    body 
        div(class="container")
            header 
                div(class="header_itens")
                    a(href="/")="DiogoBianchini"
                    nav(class="block") 
                        ul 
                            li
                                a(href="/")="Home" 
                            li 
                                a(href="/sobre")="Sobre"
                            li 
                                a(href="Jobs")="Jobs" 
                            li 
                                a(href="/login" class="far fa-user-circle") 
                    nav(class="block_burg")
                        span(class="fas fa-bars" id="menu")
                aside(class="block_burg block" id="aside_menu") 
                    ul 
                        li
                            a(href="/")="Home" 
                        li 
                            a(href="/sobre")="Sobre"
                        li 
                            a(href="Jobs")="Jobs" 
                        li 
                                a(href="/login" class="far fa-user-circle") 
                script(src="js/header.js")
            section 
                .alert 
                    p=error
                div(class="section_container")
                    form(action="/login", method="post") 
                        label(for="email")="E-mail" 
                        input(type="text" name="email")

                        label(for="password")="Senha" 
                        input(type="password", name="password")

                        label(for="save")="Manter logado" 
                            input(type="checkbox", name="save")
                        button(type="submit")="Entrar"
                        a(href="/register")="Registrar-se agora"  
            footer 
                    div(class="footer_container")
                        <h6>&copy Diogo Bianchini</h6>
                        a(href="https://www.instagram.com/codigonordico/" class="fab fa-instagram")